scopeName: "source.monkey"
name: "Cerberus"
fileTypes: [
  "monkey",
  "cxs"
]
limitLineLength: false

# NAME                              COLOR
# comment.line.monkey               dark grey

# entity.other.monkey               unmarked grey

# string.quoted.monkey              green

# constant.numeric.monkey           orange
# constant.language.boolean.monkey

# storage.type.class.monkey         purple
# storage.modifier.field.monkey
# keyword.operator.monkey

# variable.monkey                   red

# entity.name.type.monkey           yellow

# support.function.monkey           blue

patterns : [
  {
    comment: 'Basic comment character!'
    name: 'comment.line.monkey'
    begin: "'"
    end: "$"
  },
  {
    comment: 'Comment block'
    begin: "(?i)(?<=\\s|^|;)\\#rem\\b"
    end: "(?i)(?<=\\s|^|;)\\#end\\b"
    name: "comment.block.rem.monkey"
  },
  {
    comment: 'String data'
    name: "string.quoted.monkey"
    begin: "\""
    end: "\""
  },
  {
    comment: 'Integer data'
    name: "constant.numeric.monkey"
    match: "(?x)\\b(([0-9]+))"
  },
  {
    comment: 'Float data'
    match: '''
      (?x) (?<! \\$ ) (
        \\b ([0-9]+ \\. [0-9]+) |
        (\\. [0-9]+)
      )
    '''
    name: "constant.numeric.float.monkey"
  },
  {
    comment: 'Boolean data -- null is kinda like a bool. I have no excuse for my self.'
    match: "(?i)\\b(true|false|null|self)\\b"
    name: "constant.language.boolean.monkey"
  },
  {
    comment: 'Control keywords'
    match: "(?i)\\b(if|not|then|elseif|else|return|for|next|eachin|select|case|wend|while|repeat|until|end|endif|exit)\\b"
    name: "keyword.control.monkey"
  },
  {
    comment: 'Operator keywords'
    match: "(?i)\\b(mod|shl|shr|and|or|not)\\b"
    name: "keyword.operator.monkey"
  },
  {
    comment: 'Constants'
    match: "\\b[A-Z_][A-Z_][A-Z_]*\\b"
    name: "variable.constant.monkey"
  },
  {
    comment: 'Math symbols'
    match: ":?[\\^+\\-\\*&~|=><]"
    name: "keyword.operator.monkey"
  },
  {
    comment: 'Control symbols'
    match: ":?[\\.\\(\\)]"
    name: "keyword.operator.monkey"
  },
  {
    comment: 'Array brackets'
    match: ":?[\\[\\]]"
    name: "keyword.operator.monkey"
  },
  {
    comment: 'Class shortcut symbols'
    match: ":?[%$?]"
    name: "entity.name.type.monkey"
  },
  {
    comment: 'More keywords'
    match: "(?i)\\b(private|public|strict|import)\\b"
    name: "keyword.other.scope.monkey"
  },
  {
    comment: 'Variable declaration'
    captures:
      "1":
        name: "storage.modifier.global.monkey"
    match: "(?i)\\b(global|local|field)\\s+([a-zA-Z_]\\w*)\\b"
    name: "entity.other.monkey"
  },
  {
    comment: 'Constant declaration'
    captures:
      "1":
        name: "storage.modifier.global.monkey"
    match: "(?i)\\b(const)\\s+([a-zA-Z_]\\w*)\\b"
    name: "variable.constant.monkey"
  },
  {
    comment: 'Variable class declaration e.g. variable:Class'
    captures:
      "1":
        name: "keyword.operator.monkey"
    match: "(?i)\\b(:=?\\s?)+([a-zA-Z_]\\w*)\\b"
    name: "entity.name.type.monkey"
  },
  {
    comment: 'Class definition'
    match: "(?i)\\b(class)\\s+([a-zA-Z_]\\w*)(?:\\s+(extends)\\s+([a-zA-Z_]\\w*))?(?:\\s+(final|abstract))?"
    captures:
      "1":
        name: "storage.type.class.monkey"
      "2":
        name: "entity.name.type.monkey"
      "3":
        name: "storage.modifier.extends.monkey"
      "4":
        name: "entity.other.inherited-class.monkey"
      "5":
        name: "storage.modifier.class.monkey"
    name: "type.monkey"
  },
  {
    comment: 'Class creation'
    match: "(?i)\\b(new)\\s+([a-zA-Z_]\\w*)"
    captures:
      "1":
        name: "keyword.operator.monkey"
      "2":
        name: "entity.name.type.monkey"
    name: "type.monkey"
  },
  {
    comment: 'Classes inside <> list brackets'
    match: "(?<=\\<)([a-zA-Z_]\\w*)(?=\\>)"
    name: "entity.name.type.monkey"
  },
  {
    comment: 'Method definition'
    match: "(?i)\\b(method)\\s+([a-zA-Z_]\\w*)\\b"
    captures:
      "1":
        name: "storage.modifier.field.monkey"
      "2":
        name: "support.function.method.monkey"
    name: "method.monkey"
  },
  {
    comment: 'Function definition'
    match: "(?i)\\b(function)\\s+([a-zA-Z_]\\w*)\\b"
    captures:
      "1":
        name: "storage.modifier.field.monkey"
      "2":
        name: "support.function.monkey"
    name: "method.monkey"
  },
  {
    comment: 'Method call (including print calls w/o parens)'
    match: '\\b([a-zA-Z_]\\w*)(?=\\(|\\s\\")'
    captures:
      "1":
        name: "support.function.method.monkey"
      "2":
        name: "keyword.operator.monkey"
    name: "support.function.method.monkey"
  },
  {
    comment: 'Class function call'
    match: "(?<=\\s|\\()([A-Z_])([a-zA-Z_]\\w*)+(?=\\.)"
    name: "entity.name.type.monkey"
  }
]

foldingStartMarker: '''
  (?xi)
      ^\\s*(
          (?<!end|end\\s)(function|class|interface|method|select|while|if) |
          \\#rem | for | repeat | '\\#region
      )\\b
'''
foldingStopMarker: '''
  (?xi)
      ^\\s*(
      # end <keyword>
          end\\s?(function|class|method|select|while) |
          \\#end|'\\#end\\s?region|end
      )\\b
'''
