scopeName: "source.monkey"
name: "Cerberus"
fileTypes: [
  "monkey",
  "cxs"
]
limitLineLength: false

patterns : [
  {
    comment: 'Basic comment character!'
    name: 'comment.line.apostrophe.monkey'
    begin: "'"
    end: "$"
  },
  {
    comment: 'String data'
    name: "string.quoted.double.monkey"
    begin: "\""
    end: "\""
  }
]

foldingStartMarker: '''
  (?xi)
      ^\\s*(
          (?<!end|end\\s)(function|class|interface|method|select|while|if) |
          \\#rem | for | repeat | '\\#region
      )\\b
'''
foldingStopMarker: '''
  (?xi)
      ^\\s*(
      # end <keyword>
          end\\s?(function|class|method|select|while) |
          \\#end|'\\#end\\s?region|end
      )\\b
'''
