scopeName: "source.monkey"
name: "Cerberus"
fileTypes: [
  "monkey",
  "cxs"
]
limitLineLength: false

patterns : [
  {
    comment: 'Basic comment character!'
    name: 'comment.line.apostrophe.monkey'
    begin: "'"
    end: "$"
  },
  {
    comment: 'String data'
    name: "string.quoted.double.monkey"
    begin: "\""
    end: "\""
  },
  {
    comment: 'Integer data'
    name: "constant.numeric.integer.monkey"
    match: "(?x)\\b(([0-9]+))"
  },
  {
    comment: 'Float data'
    match: '''
      (?x) (?<! \\$ ) (
        \\b ([0-9]+ \\. [0-9]+) |
        (\\. [0-9]+)
      )
    '''
    name: "constant.numeric.float.monkey"
  },
  {
    comment: 'Global declaration'
    captures:
      "1":
        name: "storage.modifier.global.monkey"
    match: "(?i)\\b(global)\\s+([a-zA-Z_]\\w*)\\b"
    name: "variable.monkey"
  },
  {
    comment: 'Local declaration'
    captures:
      "1":
        name: "storage.modifier.local.monkey"
    match: "(?i)\\b(local)\\s+([a-zA-Z_]\\w*)\\b"
    name: "variable.monkey"
  },
  {
    comment: 'Field declaration'
    captures:
      "1":
        name: "storage.modifier.global.monkey"
    match: "(?i)\\b(field)\\s+([a-zA-Z_]\\w*)+\\b"
    name: "variable.monkey"
  },
  {
    comment: 'Variable class declaration e.g. variable:Class'
    captures:
      "1":
        name: "keyword.operator.monkey"
    match: "(?i)\\b(:=?\\s?)+([a-zA-Z_]\\w*)\\b"
    name: "entity.name.type.monkey"
  },
  {
    comment: 'Class definition'
    match: "(?i)\\b(class)\\s+([a-zA-Z_]\\w*)(?:\\s+(extends)\\s+([a-zA-Z_]\\w*))?(?:\\s+(final|abstract))?"
    captures:
      "1":
        name: "storage.type.class.monkey"
      "2":
        name: "entity.name.type.monkey"
      "3":
        name: "storage.modifier.extends.monkey"
      "4":
        name: "entity.other.inherited-class.monkey"
      "5":
        name: "storage.modifier.class.monkey"
    name: "type.monkey"
  }
]

foldingStartMarker: '''
  (?xi)
      ^\\s*(
          (?<!end|end\\s)(function|class|interface|method|select|while|if) |
          \\#rem | for | repeat | '\\#region
      )\\b
'''
foldingStopMarker: '''
  (?xi)
      ^\\s*(
      # end <keyword>
          end\\s?(function|class|method|select|while) |
          \\#end|'\\#end\\s?region|end
      )\\b
'''
